/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
_________________  GENERALS  ________________________
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

:root {
	--text-blue: hsl(238, 29%, 16%);
	--text-dkblue: hsl(240, 6%, 50%);
	--text-xdkblue: hsl(237, 12%, 33%);
	--text-red: hsl(14, 88%, 65%);
	--gradient-violet: hsl(273, 75%, 66%);
	--gradient-blue: hsl(240, 73%, 65%);
	--divider-blue: hsl(240, 5%, 91%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Kumbh Sans", sans-serif;
	font-size: 16px;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	height: 100vh;
	background-image: linear-gradient(
		var(--gradient-violet),
		var(--gradient-blue)
	);
}

/* $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
_________________  DESKTOP STYLES  __________________
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.card {
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: white;
	margin: 10rem auto;
	max-width: 70vw;
	border-radius: 25px;
	background-image: url(images/bg-pattern-desktop.svg);
	background-repeat: no-repeat;
	background-position: -300px center;
	background-size: 700px;
}

/* $$$$$$$$$$$$$$$$$$$$$ LEFT SIDE $$$$$$$$$$$$$$$$$$ */

.card__box {
	display: block;
	position: absolute;
	z-index: 5;
	left: -11%;
	top: 60%;
	transform: translateY(-60%);
}

.card__image {
	/* display: flex;
	align-items: center; */

	overflow: hidden;
}

.card__image img {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: -5rem;
	overflow: hidden;
}

/* $$$$$$$$$$$$$$$$$$$$$ RIGHT SIDE $$$$$$$$$$$$$$$$$$ */

.card__text {
	padding: 3.5rem 5rem 5rem 0;
	width: 45%;
}

h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.accordion__item {
	border-bottom: 1px solid var(--divider-blue);
}

.accordion__question {
	border: none;
	background: transparent;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 1rem;
	padding-bottom: 1rem;
	cursor: pointer;
}

.accordion__question::after {
	content: "";
	display: block;
	background-image: url("/images/icon-arrow-down.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 4px;
	margin-right: 10px;
	width: 0.7rem;
	height: 1rem;
	transition: transform 300ms ease-in-out;
}

.accordion__question:hover,
.accordion__question:focus {
	color: var(--text-red);
}

.accordion__content {
	font-size: 0.8rem;
	color: var(--text-dkblue);
	max-height: 0;
	overflow: hidden;
}

.accordion__item.active .accordion__content {
	max-height: 300px;
}
